body {
    background-color: #ffb8f0;
    display: flex;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1:hover, h2:hover, .profile h2:hover, .profile h1:hover {
    color: rgb(161, 27, 144);;
}

.cv {
    display: flex;
    justify-content: stretch;
    min-height: 60%;
    min-width: 70%;
}

.profile {
    max-width: 30%;
    flex:1;
    background-color: #eee;
    border-left: 30px solid rgb(41, 155, 126);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-image {
    width: 60%;
    margin: 20px;
    border: 6px solid darkcyan;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}


.profile-image::after {
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 4px solid #eee;
    border-radius: 50%;
}


.profile-image img {
    width: 100%;
}

.profile h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 10px;
    color: rgb(105, 105, 105);
    border-bottom: 1px solid #ffc3c3;
    margin: 0;
}

.profile h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(105, 105, 105);
    margin: 8px;
}

.social-links {
    margin-top: auto;
    padding-bottom: 30px;
}

.social-links span:hover {
    color: rgba(118, 255, 113, 0.5);
    transition: .1s ease-in-out;
}

.social-links span {
    color: rgb(118, 255, 113);
}


.social-links a {
    font-size: 145%;
    padding: 0px 2px;
    color: #bbb;
    text-decoration: none;
}

.skills {
    flex:2;
    background-color: white;
    border-right: 7px solid rgb(41, 155, 126);
    padding: 20px;
}

.skills strong {
    padding-bottom: 5px;
}

.progress {
    background-color: rgb(231, 231, 231);
    height: 13px;
    margin: 13px 0;
}


.percentage {
    height: 100%;
    background-color: rgb(41, 155, 126);
    animation: load 1.5s 1 forwards;
}

@keyframes load {
    from {
      width: 0;
    }
    to {
      width: width;
    }
  }

.personal .percentage {
    background-color: rgb(161, 27, 144);
}

.percentage:hover {
    height: 100%;
    background-color: rgb(163, 255, 232);
    transition: .2s ease-in-out;
}

.personal .percentage:hover {
    background-color: rgb(255, 160, 242);
    transition: .2s ease-in-out;
}